.nav {
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
  padding: 10px;
  position: relative; 
}

.nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* Ajusta el grosor de la línea según tus preferencias (1px para hacerla más delgada) */
  background-color: rgba(0, 0, 0, 0.2); /* Cambia el color de fondo de la línea (negro con una opacidad reducida) */
}

.logo {
  color: orange;
  font-size: 24px;
}

.links {
  display: flex;
  font-size: 20px;
  justify-content: space-evenly;
  flex-grow: 1;
  margin-left: -100px;
}

.link {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
}



.logo{
  height: 40px;
  width: 40px;
}

.logoss{
  width:180px;
  height: 65px;
  margin-right: -70px;
}

.logos{
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings{
  width:135px;
  height: 45px;
  margin-left: 100px;
}

.settingsContenedor{
  display: flex;
  align-items: center;
  margin-left: -200px;
}


.settingss{
  width:135px;
  height: 45px;
  margin-left: -100px;
}


.logoFoto{
  width: 50px;
  height: 50px;
  border-radius: 40px;
  margin-left: -40px;
}